# Ignore virtual environment
.venv/
env/

# Ignore PyCharm/DataSpell files
.idea/
*.iml

# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore environment files
.env
*.env

# Ignore SQLite database (optional)
db.sqlite3
